<h1>WELCOME!</h1>

<p>Who are you visiting?</p>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Continue"%>
  </div>
<% end %>